<div class="container chat d-flex flex-column justify-content-between p-0">
  <!-- Header -->
  <div class="chat-header d-flex align-items-center justify-content-between px-3 py-2 bg-light-orange border-bottom">
    <div>
      <h5 class="mb-0 fw-bold">Your exchange for <%= @exchange.meal_requested.name %></h5>
    </div>
  </div>

  <!-- Message Area -->
  <%= turbo_stream_from "exchanges_#{@exchange.id}_messages" %>
    <div id="messages" class="chat-body px-3 py-2 flex-grow-1" style="overflow-y: auto; background-color: #FFF9E5;">
      <% @exchange.messages.each do |message| %>
        <%= render "messages/message", message: message, user: current_user %>
      <% end %>
    </div>

  <!-- Message Input -->
  <div class="chat-input border-top px-3 py-2">
    <%= simple_form_for [@exchange, @message], html: { class: "d-flex", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"} } do |f| %>
      <% if current_user == @exchange.meal_offered.user %>
          <% other_user = @exchange.meal_requested.user %>
        <% else %>
          <% other_user = @exchange.meal_offered.user %>
        <% end %>
      <%= f.input :content,
        label: false,
        input_html: { class: "form-control rounded-pill me-2" },
        wrapper_html: { class: "flex-grow-1 mb-0" } %>
      <%= f.submit "Send", class: "send-btn rounded-pill", style: "background-color: #82983A; border-color: #FFF9E5; color: #FFF9E5; margin-bottom: 20px; margin-left: 10px; " %>
    <% end %>
  </div>
</div>
