<div class="meal-card">
  <div class="meal-card-inner">
    <div class="meal-card-image">
      <% if meal.photos.attached? && meal.photos.first.present? %>
        <%= cl_image_tag meal.photos.first.key, class: "meal-image" %>
      <% else %>
        <%= image_tag "meal-default.jpeg", class: "meal-image" %>
      <% end %>
    </div>
    <div class="meal-card-content">
      <h3 class="meal-title"><%= meal.name %></h3>
      <p class="meal-description"><%= truncate(meal.description, length: 80) %></p>
      <p class="meal-author">
        <%= image_tag("chef.png", alt: "Chef", class: "me-card-icon me-1", style: "width: 18px; height: 18px; vertical-align: text-bottom;") %>
        <strong><%= [meal.user.first_name, meal.user.last_name&.first&.upcase].compact.join(" ") + "." if meal.user %></strong>
      </p>


      <div class="mt-2">
        <%= yield if block_given? %>
      </div>
    </div>
  </div>
</div>
