<div class="meal-card">
  <div class="meal-card-inner">
    <div class="meal-card-image">
      <% if meal.photos.attached? && meal.photos.first.present? %>
        <%= cl_image_tag meal.photos.first.key, class: "meal-image" %>
      <% else %>
        <%= image_tag "meal-default.jpeg", class: "meal-image" %>
      <% end %>
    </div>
    <div class="meal-card-content">
      <h3 class="meal-title"><%= meal.name %></h3>
      <p class="meal-description"><%= truncate(meal.description, length: 80) %></p>
      <p class="meal-author">Cooked by: <strong><%= "#{meal.user.first_name} #{meal.user.last_name}" if meal.user %></strong></p>
      <p class="text-muted color:white">Posted on: <%= meal.posted_on.strftime("%B %d, %Y") if meal.posted_on %></p>
    </div>
  </div>
</div>
