<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <%= tag.meta property: "og:title", content: "Share a Meal - Never be bored of your food again!" %>
    <%= tag.meta property: "og:description", content: "A completely free app where you can exchange meals as form of payment" %>
    <%= tag.meta property: "og:image", content: image_url('share_a_meal (1200 x 630 px).png') %>
    <%= tag.meta property: "og:image:width", content: "1200" %>
    <%= tag.meta property: "og:image:height", content: "630" %>
    <%= tag.meta property: "og:type", content: "website" %>
    <%= tag.meta property: "og:url", content: request.original_url %>
    <!– Facebook Open Graph data –>
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!– Twitter Card data –>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag %>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body data-current-user-id="<%= current_user ? current_user.id : "" %>" class="pb-5">
    <!-- DEBUG: controller_name=<%= controller_name %> | action_name=<%= action_name %> -->

    <% if (controller_name == "meals" && action_name == "index") || (controller_name == "pages" && action_name == "home") %>
      <%= render "shared/navbar" %>
    <% elsif (controller_name == "users" && action_name == "show") || (controller_name == "meals" && action_name == "my_meals") || (controller_name == "exchanges" && action_name == "exchanges_dashboard") %>
      <%= render "shared/internal_navbar" %>
    <% end %>

    <%= render "shared/flashes" %>
    <%= yield %>

    <footer class="footer fixed-bottom border-top shadow d-flex justify-content-around align-items-center"
            style="height: 65px; z-index: 1030;">
      <%= link_to root_path, class: "text-decoration-none text-center" do %>
        <div><i class="fa fa-home fa-lg d-block footer-icon"></i></div>
      <% end %>

      <%= link_to new_meal_path, class: "text-decoration-none text-center" do %>
        <div class="bg-light rounded-circle d-flex align-items-center justify-content-center"
            style="width: 46px; height: 46px;">
          <i class="fa fa-plus fa-lg footer-icon"></i>
        </div>
      <% end %>

      <%= link_to exchanges_dashboard_path, class: "text-decoration-none text-center" do %>
        <div class="d-flex align-items-center justify-content-center" style="width: 46px; height: 46px;">
          <i class="fa-solid fa-handshake-angle footer-icon"></i>
        </div>
      <% end %>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-w77wwc6Rt20A8C8Mdq4Kg2XJ2fB4Up43qgqYF9D2LtM6q/5T2Lgh5BdceFbEvT5z" crossorigin="anonymous"></script>
  </body>
</html>
